main{ 
    position: relative;
    top: 40px;
    left: 580px;
    width: 800px;
    height: 840px;
    background-color: #008000;
    border: none;
    border-radius: 20px;
    box-shadow:0 6px 10px 6px #181616;
}
h1{
    position: relative;
    color: white;
    font-weight: bold;
    border: none;
    padding: 0;
    top: 40px;
    left: 300px;
}